<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IMZ Automation Suite" thread-count="1">

    <!-- ✅ Chrome run -->
    <test name="Chrome_Login_Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.imz.tests.LoginTest">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
            <class name="org.imz.tests.LockedLoginTest"/>
            <class name="org.imz.tests.MultiLoginTest"/>
        </classes>
    </test>

   <!-- &lt;!&ndash; ✅ Firefox run &ndash;&gt;
    <test name="Firefox_Login_Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.imz.tests.LoginTest"/>
            <class name="org.imz.tests.LockedLoginTest"/>
            <class name="org.imz.tests.MultiLoginTest"/>
        </classes>
    </test>-->

</suite>
